body {
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
    
}

.logo {
    padding: 2% 5%;
}

main {
    padding-left: 15%;
}

.input {
    border: none;
    background-color: #F3F5FC;
    font-size: 32px;
    color:#0A3871;
    resize: none;
    width: 50%;
    height: 500px;
       

}

h2 {
    font-size: 12px;
    color: #495057;
    padding: 1em 0 2em 0;
}



#botaoCrip {
    width: 25%;
    padding: 15px 0;
    background: #0A3871;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
    transition: 0.5s all;
    cursor: pointer;
}
#botaoCrip:hover {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    
}

#botaoDescrip {
    width: 25%;
    padding: 15px 0;
    background: #D8DFE8;
    font-size: 16px;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    transition: 0.5s all;
    cursor: pointer;

}

#botaoDescrip:hover {
    background: #0A3871;
    color: #D8DFE8;
    border: none;
    
}

#botaoCopiar {
    width: 20%;
    padding: 15px 0;
    background: #D8DFE8;
    font-size: 16px;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    transition: 0.5s all;
    cursor: pointer;
}

#textoFormatado {
    float: right;
    width: 35%;
    padding-right: 5%;
        
    
}

#textoFormatado:placeholder-shown {
    background:url(imagens/procurar.png) center center no-repeat;
  }
  
  #textoFormatado:not(:placeholder-shown) {
    background-color: #F3F5FC;
  }


footer {
      
    color: #0A3871;
    font-size: 25px;
    text-align: center;
    position: absolute;
    bottom: 5px;
   
    width: 100%;
    
}